@import './custom_variable';

.circle-image {
    border-radius: 50%;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.justify-content-space-between {
    display: flex;
    justify-content: space-between;
}

.justify-content-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.align-item-center {
    display: flex;
    align-items: center
}

.line-divider {
    background-color: $color_grey_light;
}

.full-fill-red-icon {
    background-color: $color_red;
}

.white-icon {
    color: white;
}

.width-100 {
  width: 100%;
}

.cancel-button {
    --color: $color_grey_dark;
}

.done-button {
    color: $color_blue;
    font-weight: bold;
}

.tab-bar-icon {
    color: $color_grey_very_dark;
}

.bacground-color-grey {
    background-color: $color_grey_medium;
}

.custom-icon-size-small {
    font-size: 24px;
}

.bottom-tab-bar-background-color {
    color: $color_grey_light;
}

.bottom-icon-height {
    height: 45px !important;
}

ion-item {
  --padding-start: 0px;
}

ion-toolbar {
    --background: #FBFAFA;
}

.ion-grey-light-background {
  --background: #FBFAFA;
}

.grey-light-background {
  background-color: $color_grey_light;
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.fade-in {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


.flip-in-hor-top {
	-webkit-animation: flip-in-hor-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation flip-in-hor-top
 * ----------------------------------------
 */
 @-webkit-keyframes flip-in-hor-top {
    0% {
      -webkit-transform: rotateX(-80deg);
              transform: rotateX(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-hor-top {
    0% {
      -webkit-transform: rotateX(-80deg);
              transform: rotateX(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }


.red-button {
  height: 30px;
  border-radius: 4px;
  font-size: 14px;
  --border-radius: 4px;
  --background: red;
  --background-activated: rgb(229, 147, 147);
}

.display-flex {
  display: flex;
}

.width-50 {
  width: 50%;
}

.info-circle-icon-button {
  height: 30px;
  width: 40px;
}

.font-size-25 {
  font-size: 25px;
}

.circle-icon {
  border-radius: 100%;
  box-shadow: 0px 0px 5px #000;
  display: flex;
  margin: auto;
  align-items: center; /* vertical alignment */
  justify-content: center;
}

.huge-icon {
  font-size: 40px;
  height: 90px;
  width: 90px;
}

.large-icon {
  font-size: 25px;
  height: 50px;
  width: 50px;
}

.font-size-16 {
  font-size: 16px;
}

.black-button-text {
  --color: #000;
}

.z-index-3 {
  z-index: 3;
}

.bottom-toast-default {
  --background: #000;
  color: white;
}

.seperator-hr {
  background: $color_grey_medium;
}

.large-title {
  font-size: 20px;
  font-weight: bold;
}


.header_brand_image {
  padding-top: 20px;
  img {
    height: 80px;
    width: 200px;
  }
}

.bordered-text-input {
  border: 1px solid $color_grey_medium;
  border-radius: 3px;
  padding-left: 10px;
  input {
    color: $color_grey_dark !important;
  }
}

.disabled-button {
  color: $color_grey_dark;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-top-20 {
  padding-top: 20px;
}
.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-20 {
  padding-left: 20px;
}
.color-white {
  color: $color_grey_light;
}


.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}
.title {
	font-size: 16px;
	color: $color_grey_very_dark;
	font-weight: bold;
}

.title-sub {
	font-size: 14px;
	color: $color_grey_very_dark;
}

.title-header {
	font-size: 17px;
	color: $color_grey_dark;
}

.title-group {
	font-size: 16px;
	color: $color_grey_very_dark;
  text-decoration: underline;
}

.text {
	font-size: 14px;
	color: $color_grey_dark;
}

.text-fields {
	font-size: 14px;
	color: $color_grey_very_dark;
}

.text-details {
	font-size: 16px;
	color: $color_grey_dark;
}

.text-box {
	font-size: 12px;
  color: $color_grey_dark;
	background-color: $color_grey_light
}

.link-main {
  font-size: 14px;
  font-weight: 600;
  color: $color_blue;
}


.text-transform-none {
  text-transform: none;
}

.landing-container {
  padding-left: 10%;
  padding-right: 10%;
}

.page-container {
  padding-left: 15px;
  padding-right: 15px;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.avatar-border {
  border-radius: 50%;
  border-color: $color_grey_dark;
}

.align-items-center {
  align-self: center;
}

.background-grey-light{
  background: $color_grey_light;
}

.back-button-slot-start {
  padding-left: -0.3em;
  ion-icon {
    font-size: 64px;
  }
}

.object-fit-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

ion-toggle {
  --background-checked: red;
}

.only-border-bottom {
  border-bottom: 1px solid $color_grey_medium;
}