@import '../../../../theme/custom_variable';

.container {
  margin-top: 5%;
  height: 100%;
}
.margin-left-5 {
  margin-left: 3%;
}
.select {
  padding-left: 0px !important;
}
.margin-left-7 {
  margin-left: 7%;
}