@import '../../../../theme/custom_variable';

.search-overview-img {
  padding: 1px;
  padding-top: 2px;
  height: 144px;
  overflow: hidden;
}

.search-button-padding {
  padding-left: 10%;
  padding-right: 10%;
}